html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

*, *:before, *:after {
  box-sizing: inherit; }

body, input, textarea, button {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #333; }

body {
  /* ignore these this will change for our app */
  margin: 50vh 3% 3em;
  margin-left: auto;
  margin-right: auto; }

img {
  max-width: 100%; }

/**
 * Clearfix
 */
.clearfix:after, .loanDetailsWrapper:after {
  content: "";
  display: table;
  clear: both; }

@media only screen and (min-width: 600px) {
  body {
    margin-left: 3em;
    margin-right: 3em; } }
.loanTotalWrapper {
  text-align: center;
  position: relative;
  height: 100%; }

.label {
  text-transform: uppercase;
  font-size: .5em;
  font-weight: 700;
  margin-bottom: .8em;
  width: 100%; }

.loanOfferInnnerContainer {
  height: 3.75em; }

.loanTotalContainer {
  width: 12em;
  display: inline-block;
  height: inherit;
  vertical-align: top; }

.loanInfoSectionEmphasis {
  height: inherit;
  border: 3px solid lightgray;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
  padding: .45em .65em .35em; }

.loanInfoSectionInnerContainer {
  position: relative;
  height: 100%; }

.loanAmountInputContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  font-size: 1.6em;
  line-height: 1.3; }

.loanAmountInputContainer input {
  border: none;
  width: 100%;
  font-size: .9em;
  line-height: 1.4;
  margin: 0;
  text-align: center; }

.increaseContainer, .decreaseContainer {
  display: inline-block;
  height: inherit;
  width: 3.5em;
  position: relative; }

.mobileControl {
  font-size: 1.8em;
  font-weight: 800;
  color: #50E3C2;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.large_screen {
  display: none; }

@media only screen and (min-width: 700px) {
  .loanTotalWrapper {
    width: 20%;
    float: left; }

  .loanTotalWrapper .label {
    position: absolute;
    text-align: left;
    top: 0;
    left: 0; }

  .loanOfferInnnerContainer {
    height: 100%;
    height: 5em; }

  .loanTotalContainer {
    float: left;
    width: 100%; }

  .loanAmountInputContainer {
    width: 100%;
    font-size: 1.6em;
    line-height: 1.3;
    left: 0;
    top: auto;
    right: auto;
    bottom: 0em;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }

  .loanAmountInputContainer input {
    border-bottom: 2px solid lightgray;
    text-align: left;
    font-size: 1em; }

  .increaseContainer, .decreaseContainer {
    display: none; }

  .large_screen {
    display: block; }

  .small_screen {
    display: none; } }
.hide {
  display: none; }

.loanDetailsWrapper {
  margin: 1.5em 0;
  width: 100%;
  height: inherit;
  text-align: center; }

.loanDetailsInnerWrapper {
  font-size: .75em; }

.loanInfoSection {
  width: 33.33%;
  float: left;
  padding: .25em .65em .2em; }

.loanInfoSection + .loanInfoSection {
  border-left: 1px solid #e6e6e6; }

.loanInfo {
  margin-top: 1.1em;
  font-size: 1.05em;
  line-height: 1; }

.updateButtonWrapper, .loanTableWrapper {
  width: 100%; }

.updateButtonWrapper {
  position: relative;
  margin: 2em 0 1.5em; }

.button {
  border: none;
  border-radius: 0;
  color: white;
  background: #4edfa5;
  text-transform: uppercase;
  padding: 1.5em 2em;
  font-weight: 900;
  font-size: .75em;
  cursor: pointer;
  width: 15em;
  height: 100%;
  white-space: nowrap; }

.red {
  background: #ff003a;
  background: lightgray;
  border-radius: 2px; }

.button:disabled, .red:disabled {
  background: #f0f0f0;
  cursor: auto; }

@media only screen and (min-width: 700px) {
  .loanDetailsWrapper {
    width: 80%;
    float: left;
    margin-top: 0;
    position: relative;
    height: 5em; }

  .loanDetailsInnerWrapper {
    font-size: .85em;
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%; }

  .updateButtonWrapper {
    width: 25%;
    float: left;
    margin: 0;
    text-align: right; }

  .button {
    width: 70%;
    height: 100%;
    display: inline-block;
    font-size: .6em;
    padding: 2.2em 2em; }

  .loanTableWrapper {
    width: 75%;
    float: right; }

  .lastBorder {
    border-right: 1px solid #e6e6e6; } }
.sliderContentWrap {
  width: 85%;
  margin: auto; }

.controlButtonContainer, .currentAmount, .arrowDown, .arrowContainer {
  display: none; }

.inputRangeContainer {
  position: relative;
  margin-top: 2em; }

.controlSection a, .amountMinimum a, .amountMaximum a {
  color: #50E3C2; }

.inputRange {
  height: 15px;
  border-radius: 3px;
  position: relative; }

.inputRangeIndicator {
  height: 2px;
  background: #bfbfbf;
  margin-bottom: .25em; }

.amount {
  font-size: .75em;
  color: lightgray;
  z-index: -10; }

.amountMinimum {
  float: left; }

.amountMaximum {
  float: right; }

.rangeSelector {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: white;
  text-align: center;
  box-shadow: 0px 0px 18px 18px rgba(255, 255, 255, 0.9);
  width: 2em;
  padding: 0;
  bottom: -0.1em; }

.controlHandle {
  padding: .5em .9em;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-shadow: 0px 0px 6px 2px #e6e6e6;
  margin: 0;
  height: 2em;
  width: 2em;
  border-radius: 1em;
  position: relative; }

.controlHandle:hover {
  box-shadow: 0px 0px 8px 4px #e0e0e0; }

.controlHandleContainer {
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.bar {
  width: 2px;
  height: 12px;
  float: left;
  background: #50E3C2; }

.bar + .bar {
  margin-left: 3px; }

@media only screen and (min-width: 700px) {
  .sliderContentWrap {
    width: 100%; }

  .controlButtonContainer, .currentAmount, .arrowDown, .arrowContainer {
    display: inline-block; }

  .inputRangeContainer {
    margin-top: 5em; }

  .inputRangeIndicator {
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    width: 100%; }

  .controlSection, .amountMinimum, .amountMaximum {
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: white;
    line-height: 1; }

  .controlSection > div, .amountMaximum > div, .amountMinimum > div, .controlSection a, .amountMaximum a, .amountMinimum a {
    display: inline-block;
    vertical-align: middle; }

  .amountMinimum {
    left: 0;
    padding-right: 2em; }

  .amountMaximum {
    right: 0;
    padding-left: 2em; }

  .amountMaximum .amount {
    margin-right: 1em; }

  .amountMinimum .amount {
    margin-left: 1em; }

  .amount {
    font-size: .8em; }

  .rangeSelector {
    bottom: -.5em;
    padding: 0 1.25em;
    width: 10em; }

  .currentAmount {
    font-size: 1.1em;
    line-height: 1;
    font-weight: 500;
    color: #8c8c8c; }

  .arrowDown {
    width: 4em;
    margin: 0 auto .5em; }

  .controlContainer > div, .controlContainer > a {
    display: inline-block;
    line-height: 1;
    vertical-align: middle; }

  .arrow {
    width: .6em; }

  .controlHandle {
    margin: 0em 1em 0; }

  .control {
    width: 1.8em;
    height: 1.8em;
    font-weight: 900;
    line-height: 1;
    position: relative;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 5px 1px #ededed; }

  .control:hover {
    box-shadow: 0px 0px 8px 4px #e6e6e6; }

  .controlIcon {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: white;
    font-size: 1.4em; } }
