@media only screen and (min-width : 700px) {


	.loanDetailsWrapper {
		width: 80%;
		float: left;
		margin-top: 0;
		position: relative;
		height: 5em;
		margin-bottom: 0;
	}

	.loanDetailsInnerWrapper {
				font-size: .85em;

	    position: absolute;
	    top: 50%;
	    bottom: auto;
	    -webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -o-transform: translateY(-50%);
	    transform: translateY(-50%);
	    width: 100%;
	}

	.updateButtonWrapper {
		width: 25%;
		float: left;
		margin: 0;
		text-align: right;
	}
		.button {
			width: 70%;
			height: 100%;
			display: inline-block;
			font-size: .6em;
			padding: 2.2em 2em;
		}

	.loanTableWrapper {
		width: 75%;
		float: right;
	}

	.lastBorder {
		border-right: 1px solid hsl(0,0%,90%);
	}

	.loanCaption {
		text-align: left;
	}
}