.hide {
	display: none;
}

.loanDetailsWrapper {
	margin: 1.5em 0;
	//box-shadow: 0 0 5px 3px hsla(0,0%,0%,.05);
	width: 100%;
	height: inherit;

	text-align: center;
	@extend .clearfix;
}

.loanDetailsInnerWrapper {
		font-size: .75em;
}

.loanInfoSection {
	width: 33.33%;
	float:left;
	padding: .25em .65em .2em;

}

.loanInfoSection + .loanInfoSection {
	border-left: 1px solid hsl(0,0%,90%);
}


.loanInfo {
	margin-top: 1.1em;
	font-size: 1.05em;
	line-height: 1;
}


.updateButtonWrapper, .loanTableWrapper {
	width: 100%;
}

.updateButtonWrapper {
	position: relative;
	margin: 2em 0 1.5em;

}

.loanUpdateButton {

}

.button {
	border: none;
	border-radius: 0;
	color: white;
	background: #4edfa5;
	text-transform: uppercase;
	padding: 1.5em 2em;
	font-weight: 900;
	font-size: .75em;
	cursor: pointer;
	width: 15em;
	height:100%;
	white-space: nowrap;
}

.red {
	background: rgb(255, 0, 58);
		background: lightgray;

	border-radius: 2px
}

.button:disabled, .red:disabled {
	background: #f0f0f0;
	cursor: auto;
}