html {
       font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  /* EDIT: new syntax for FF 15+ */
  -ms-font-feature-settings: "liga";
  -o-font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, input, textarea, button {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $base-font-color;

}

body {
	/* ignore these this will change for our app */
	@include margin(50vh 3% 3em 3%);
    margin-left: auto;
    margin-right: auto;

    -webkit-text-size-adjust: none;

}

img {
	max-width: 100%;
}



/**
 * Clearfix
 */
.clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@media only screen and (min-width : 600px) {
    body {
        margin-left: 3em;
        margin-right: 3em;
    }
}